table.st-tbl1{
    width: 500px;
}
.st-tbl1 thead th {
  /* 縦スクロール時を固定 */
  position: sticky;
  top: 0;
  /* tbody内のセルより手前に表示する */
  z-index: 1;
  width:50px;
}
.st-tbl1 th:first-child {
  /* 横スクロールを固定 */
  position: sticky;
  left: 0;
  background: #f1f1fd;
}
.st-tbl1 thead th:first-child {
  /* 一番左端のthead thが横スクロール時に隠れない様に */
  z-index: 2;
  background: #424242;
}
.st-tbl1 th,
.st-tbl1 td{
  border-collapse: collapse;
  text-align: left;
  padding: .2rem .5rem;
  font-weight: normal;
}
.st-tbl1 thead th {
  background: #424242;
  color: #E0E0E0;
}

.th-sticky_wrap{
    width:500px;
    overflow-y: scroll;
}

.view-div{
  border:solid 1px;
  width:500px;
  padding: 5px 5px 5px 5px;
}

